/* */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body h2 {
    text-align: center;
}

.ballContainer {
    height: 600px;
    width: 600px;

    display: flex;
    justify-content: center;

    /* Make the container box for the ball */
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
}

#ball {
    height: 100px;
    width: 100px;
    background: red;
    border-radius: 50%;

    /* Bounce Animation */
    animation: bounce 1s ease-in 2s infinite;
    animation-direction: alternate;
}

@keyframes bounce {
	0% {
        transform: translate(0,0);
    }
    25% {
        transform: translate(250px, 250px);
    }
    50% {
        transform: translate(0, 500px);
    }
    75% {
        transform: translate(250px, 250px);
    }
    100% {}
}